<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hearthstone Fan Page</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
<header>
    <nav class="horizontal-list">
        <ul class="nav-bar">
            <li><a href="PageAcceuil.html">Accueil</a></li>
            <li><a href="Cartes.html">Cartes</a></li>
            <li><a href="Decks.html">Decks</a></li>
        </ul>
    </nav>
</header>

<main>
</main>

<footer>
</footer>

<script>
</script>
</body>
</html>
