<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hearthstone Fan Page</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<header>
    <nav class="horizontal-list">
        <ul class="nav-bar">
            <li><a href="PageAccueil.html">Accueil</a></li>
            <li><a href="Decks.html">Decks</a></li>
        </ul>
    </nav>
</header>

<table id="dataDisplay">
    <tbody>
    <tr id="imageRow"></tr>
    </tbody>
</table>

<main>
</main>

<footer>
</footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        callController();
    });

    function callController() {
        fetch('http://localhost:8080/cartes/playerclass/Druid', { method: 'GET' })
            .then(response => response.json())
            .then(arrayList => {
                showDataInTable(arrayList);
            })
            .catch(error => {
                console.error("Erreur lors de la récupération des données :", error);
            });
    }

    function showDataInTable(arrayList) {
        const dataDisplayBody = document.getElementById("dataDisplay").getElementsByTagName('tbody')[0];
        dataDisplayBody.innerHTML = "";

        let row;
        let counter = 0;

        arrayList.forEach(item => {
            if (counter % 6 === 0) {
                row = dataDisplayBody.insertRow();
            }

            const cell = row.insertCell();

            const img = document.createElement("img");
            img.src = item.img;
            cell.appendChild(img);

            const addButton = document.createElement("button");
            addButton.textContent = "Ajouter";
            cell.appendChild(addButton);

            addButton.dataset.cardId = item.idCarte;
            counter++;
        });
    }

    document.getElementById("dataDisplay").addEventListener('click', function(event) {
        if (event.target && event.target.nodeName === "BUTTON") {
            const cardId = event.target.dataset.cardId;
            const imgSrc = event.target.previousElementSibling.src;
            alert("Id de la Carte: " + cardId);
        }
    });
</script>
</body>
</html>