<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hearthstone Fan Page</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
</head>
<body>
<header>
    <nav class="horizontal-list">
        <ul class="nav-bar">
            <li><a href="PageAccueil.html">Accueil</a></li>
            <li><a href="Decks.html">Decks</a></li>
        </ul>
    </nav>
    <p style="color: black; font-size: 20px;">
        Nombre de cartes dans le deck: <span id="cardCounter">0</span>
    </p>
    <div style="position: absolute; top: 10px; right: 10px;">
        <label for="cardDropdown">Votre deck : </label>
        <select id="cardDropdown" size="6" multiple="false"></select>
    </div>
</header>

<label for="deckName">Nom du Deck:</label>
<input type="text" id="deckName">
<button id="createDeckBtn">Créer le deck</button>

<table id="dataDisplay">
    <tbody>
    <tr id="imageRow"></tr>
    </tbody>
</table>

<main>
</main>

<footer>
</footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
<script>
    let cardCount = 0;
    let deckCreated = false;
    let prevDeckName = "";
    const addedCardNames = [];
    const maxDeckSize = 30;
    const maxCardLimit = 2;
    const cardImagesInDeck = {};

    document.addEventListener("DOMContentLoaded", function() {
        callController();
    });

    function callController() {
        fetch('http://localhost:8080/cartes/playerclass/Priest', { method: 'GET' })
            .then(response => response.json())
            .then(arrayList => {
                showDataInTable(arrayList);
            })
            .catch(error => {
                console.error("Erreur lors de la récupération des données :", error);
            });
    }

    function showDataInTable(arrayList) {
        const dataDisplayBody = document.getElementById("dataDisplay").getElementsByTagName('tbody')[0];
        dataDisplayBody.innerHTML = "";

        let row;
        let counter = 0;

        arrayList.forEach(item => {
            if (counter % 6 === 0) {
                row = dataDisplayBody.insertRow();
            }

            const cell = row.insertCell();

            const img = document.createElement("img");
            img.src = item.img;
            cell.appendChild(img);

            const buttonContainer = document.createElement("div");
            buttonContainer.style.display = "flex";
            buttonContainer.style.gap = "10px";

            const addButton = document.createElement("button");
            addButton.textContent = "Ajouter";
            addButton.dataset.cardId = item.idCarte;
            addButton.dataset.img = item.img;
            addButton.dataset.nameCarte = item.nameCarte;
            buttonContainer.appendChild(addButton);

            const removeButton = document.createElement("button");
            removeButton.textContent = "Supprimer";
            removeButton.dataset.cardId = item.idCarte;
            removeButton.dataset.img = item.img;
            buttonContainer.appendChild(removeButton);

            cell.appendChild(buttonContainer);

            counter++;
        });
    }

    document.getElementById("dataDisplay").addEventListener('click', function(event) {
        if (event.target && event.target.nodeName === "BUTTON") {
            const deckName = document.getElementById("deckName").value;
            if (deckName === "") {
                alert("Veuillez entrer un nom pour le deck avant d'ajouter des cartes.");
            } else {
                const cardId = event.target.dataset.cardId;
                const img = event.target.dataset.img;
                const nameCarte = event.target.dataset.nameCarte;
                if (event.target.textContent === "Ajouter") {
                    callDeckCard(deckName, cardId, img, nameCarte);
                } else if (event.target.textContent === "Supprimer") {
                    removeCard(deckName, cardId, img);
                }
            }
        }
    });

    document.getElementById("createDeckBtn").addEventListener('click', function() {
        const deckName = document.getElementById("deckName").value;
        if (deckName === "") {
            alert("Veuillez entrer un nom pour le deck avant de le créer.");
        } else {
            if (deckCreated) {
                if (prevDeckName !== deckName) {
                    alert(`Le nom du deck a changé de "${prevDeckName}" à "${deckName}". Le compteur est remis à 0.`);
                    cardCount = 0;
                    document.getElementById("cardCounter").textContent = cardCount;
                    addedCardNames.length = 0;
                    cardImagesInDeck.length = 0;
                    updateCardDropdown();
                }
            }
            deckCreated = true;
            prevDeckName = deckName;

            fetch('http://localhost:8080/decks', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ name: deckName })
            })
                .then(response => response.json())
                .then(data => {
                    alert(`Le deck "${deckName}" a été créé.`);
                    console.log(data);
                })
                .catch(error => {
                    console.error("Erreur lors de la création du deck :", error);
                });
        }
    });

    function callDeckCard(deckName, cardId, img, nameCarte) {
        fetch(`http://localhost:8080/decks/${deckName}/cartes/${cardId}`, { method: 'POST' })
            .then(response => response.json())
            .then(data => {
                const cardCountInDeck = addedCardNames.filter(item => item.img === img).length;
                if (cardCountInDeck < maxCardLimit && cardCount < maxDeckSize) {
                    cardCount++;
                    document.getElementById("cardCounter").textContent = cardCount;
                    addedCardNames.push({ img: img, name: nameCarte });
                    updateCardDropdown();
                    alert(`La carte (ID: ${cardId}) a été ajoutée au deck ${deckName}.`);
                    cardImagesInDeck[img] = img;
                } else if (cardCountInDeck >= maxCardLimit) {
                    alert(`La carte (ID: ${cardId}) ne peut pas être ajoutée plus de ${maxCardLimit} fois.`);
                } else if (cardCount >= maxDeckSize) {
                    alert(`Le deck ne peut pas contenir plus de ${maxDeckSize} cartes.`);
                }
                enableButtons();
            })
            .catch(error => {
                console.error("Erreur lors de la récupération des données :", error);
            });
    }

    function removeCard(deckName, cardId, img) {
        if (addedCardNames.some(item => item.img === img)) {
            const filteredCardNames = addedCardNames.filter(item => item.img !== img);
            addedCardNames.length = 0;
            addedCardNames.push(...filteredCardNames);
            updateCardDropdown();
            if (cardCount > 0) {
                cardCount--;
            }
            document.getElementById("cardCounter").textContent = cardCount;
            alert(`La carte (ID: ${cardId}) a été supprimée du deck ${deckName}.`);
            delete cardImagesInDeck[img];
        } else {
            alert(`La carte (ID: ${cardId}) n'est pas dans le deck.`);
        }
        enableButtons();
    }

    function updateCardDropdown() {
        const cardDropdown = document.getElementById("cardDropdown");
        cardDropdown.innerHTML = "";

        addedCardNames.forEach(item => {
            const option = document.createElement("option");
            option.textContent = item.name;
            option.style.backgroundImage = `url(${item.img})`;
            cardDropdown.appendChild(option);
        });

        if (addedCardNames.length > 6) {
            cardDropdown.size = addedCardNames.length;
        } else {
            cardDropdown.size = 6;
        }
    }

    function enableButtons() {
        const addButtonElements = document.querySelectorAll('button[textContent="Ajouter"]');
        addButtonElements.forEach(button => {
            const img = button.dataset.img;
            const cardCountInDeck = addedCardNames.filter(item => item.img === img).length;
            button.disabled = cardCount >= maxDeckSize || cardCountInDeck >= maxCardLimit;
        });

        const removeButtonElements = document.querySelectorAll('button[textContent="Supprimer"]');
        removeButtonElements.forEach(button => {
            button.disabled = false;
        });

        if (cardCount >= maxDeckSize) {
            addButtonElements.forEach(button => {
                button.disabled = true;
            });

            const deckName = document.getElementById("deckName").value;
            Swal.fire({
                title: `Deck "${deckName}" Complet!`,
                text: '',
                html: getCardImagesFromList(),
                imageAlt: 'Cartes dans la liste déroulante',
            });
        }
    }

    function getCardImagesFromList() {
        let imagesHtml = '';
        for (const item of addedCardNames) {
            const imageLink = item.img;
            if (imageLink) {
                imagesHtml += `<img src="${imageLink}" style="max-width: 100px; max-height: 150px; margin: 5px;">`;
            }
        }
        return imagesHtml;
    }
</script>
</body>
</html>
